node_modules

__IGNORE__
__IGNORE__*
._*
*.example
.thumbs
.idea
.DS_Store
.sass-cache
.vscode

/.env
/.gradle
/*.txt
/*.rst
/flow
/flow.bat

/bin
/Build
/Configuration
/Data
/Packages
/_Resources

/DistributionPackages/*/Resources/Private/Templates/InlineAssets/*
!/DistributionPackages/*/Resources/Private/Templates/InlineAssets/*.html
/DistributionPackages/*/Resources/Public/Scripts
/DistributionPackages/*/Resources/Public/Styles

/Web/_Resources
/Web/index.php
/Web/robots.txt
