@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tippy.js/dist/tippy.css";
@import "Helper/**/*.pcss";
@import "Presentation/**/*.pcss";
@import "Packages/Carbon/Carbon.Image/Resources/Private/Assets/Main.pcss";
@import "tailwindcss/utilities";
