@layer utilities {
  .text-shadow-white {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }

  .text-shadow-black {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
