@supports (clip-path: inset(0 0 0 0)) {
  .-disturber.-disturber {
    clip-path: inset(0 0 0 0);
  }

  .-disturber__bg.-disturber__bg {
    position: fixed;
    background-attachment: scroll;
  }
}
